main [class*="col"]{
    border: 1px dashed red;
    
    padding: 10px;
}
main [class*="col-8"],
main [class*="col-4"]
{
    border: 1px dashed red;
    height: 700px;
    padding-top: 20px;
}
nav{
    height: 100px;
}
#explorer {
    display: flex;  
    height: calc(100vh - 100px);
    width: 100vw;
}
aside {
    width: 180px;
    height: 100%;

    background-color: black;
    color: white;
    font-weight: bold;

    padding: 20px 20px 0;
}
main{
    height: 100%;

    ;
}