/* nav{
    height: 56px;
} */
.my-font{
    font-size:  25px;
}
.my-bg{
    background-color: #165BBA;
}
/* .font-small{
    font-size: 0.8em;
} */
.bg-input{
    background-color: #E5E5E5;
}
main{
    
    width: calc(100% - 190px);
}
/* .main-top .fa-solid{
    border: 1px solid white;

} */
.main-center .fa-solid{
    background-color: white;
    color: gray;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 5px;
}

#explorer {
    display: flex;  
    height: calc(100vh - 56px);
    
}
aside {
    width: 190px;
    background-color: #051E34 ;
    color: white;
}
@media screen and(max-width:576px) {
    aside{
        width: 8px;
    }
    
}
.bg-img{
    background-image: url(/img/sidebar-bg.png);
    background-size: cover;
    background-attachment: fixed;
}
