nav{
    height: 56px;
}
.my-font{
    font-size:  35px;
}
.my-bg{
    background-color: #165BBA;
}
main{
    
    width: calc(100% - 190px);
}
.main-top .fa-solid{
    border: 1px solid white;

}
.main-center .fa-solid{
    background-color: white;
    color: gray;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 5px;
}

#explorer {
    display: flex;  
    height: calc(100vh - 56px);
    
}
aside {
    width: 190px;
    

    background-color: #051E34 ;
    color: white;
    /* font-weight: bold;

    padding: 20px 20px 0; */
}
